body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
    height: 600px;
}
h2 {
    color: #03a9fc;
    margin-bottom: 20px;
    font-size: 2em;
}
#uploadForm {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 200px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #64a1c0;
    color: #ffffff;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.custom-file-upload:hover {
    background-color: #03a9fc;
}
button {
    background-color: #0951af;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}
button:hover {
    background-color: #03a9fc;
}